@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

a {
  color: #979196;
  text-decoration: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  background-color: #eeeeee;
  text-align: center;
  justify-content: space-between;
  flex-direction: row;
}

.left-links, .right-links {
  margin-right: 20px;
  margin-left: 20px;
  padding: 0px;
  gap: 15px;
  display: flex;
}